.title {
  font-weight: bold;
  font-size: 0.9rem;
}
.subtitle {
  font-size: 0.6rem;
}

thead tr td {
  color: gray;
  font-size: 0.7rem;
  text-align: center;
}

tbody tr td {
  font-size: 0.7rem;
}

.priority {
  text-align: center;
}

.priority span {
  background-color: #5291f0;
  padding: 5px 10px;
  border-radius: 50px;

  text-transform: uppercase;
}

td {
  vertical-align: middle !important;
}

.middle {
  background-color: #f7f8fc;
}

.main {
  background-color: white;
}

.rightbar {
  background-color: #eff0f8;
}

.righttitle span {
  font-size: 0.9rem;
}

.nots p {
  font-size: 0.7rem;
  margin: 0;
  font-weight: bold;
}

.cardnots {
  background-color: white;
  border-radius: 5px;
}

.nots span {
  font-size: 0.6em;
}

.message-form {
  gap: 15px;
}

.message-sec span {
  background-color: #c4c4c4;
  border-radius: 50%;
  padding: 5px 9px;
}

.message-sec {
  gap: 15px;
}

.message-icon div {
  font-size: 0.7em;
}

.btncon button {
  font-size: 0.7em;
  height: 25px;
  border: 1px solid #3751ff;
  border-radius: 5px;
  width: 60px;
}

.public {
  background-color: #3751ff;
}

.private {
  background-color: white;
  margin-left: -8px;
}

.msgicon {
  width: 15px;
  height: 15px;
}

.msgicon div {
  top: 5px;
  left: 5px;
  font-size: 0.6em;
  color: white;
}

.chat {
  gap: 5px;
}

.chat .name {
  font-size: 0.8em;
}

.chat .new {
  font-size: 0.6em;
  color: #3751ff;
}

.chat .new span {
  color: #7d7d7d;
}

.active .archive {
  min-height: 400px;
}

thead td {
  border-top: none !important;
}

.header-search {
  left: 260px;
}

.pcl {
  color: #868686;
  font-size: 0.7rem;
}

.chatRow {
  width: 75%;
  height: 50px;
  border-radius: 14px;
  margin: 10px 5px;
  font-size: 0.6rem;
  color: #7d7d7d;
  display: flex;
  align-items: flex-end;
}

.chatRow p {
  margin: 8px 10px;
}

.chatRow span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #868686;
  margin: 3px;
}

.greyone {
  background-color: #dde2ff;
  justify-content: flex-end;
}

.blueone {
  background-color: #6fe4be;
  margin-left: auto;
}

.send {
  bottom: 0px;
  margin: 0 -0.5rem 0 -0.5rem;
}

.send input {
  border: none;
  background-color: #dde2ff;
  height: 70px;
  width: 170px;
}

.send div {
  width: 100px;
  height: 70px;
  background-color: #29cc97;
}

.loading {
  justify-content: center;
  align-items: center;
}

.strongtitle {
  color: #3751ff;
  font-size: 0.8rem;
}

.notifications {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nameblue {
  color: #3751ff;
  font-size: 1em !important;
}

.namegreen {
  font-size: 1em !important;
  color: #78b563;
}
